# dciu.conf - Configuration for Docker Container Image Updater (dciu)
# Default Mode: autoupdate, monitor or none
MODE="monitor"

# Behavior for stopped containers: whether to update stopped containers or not
UPDATE_STOPPED="false"
# After updating stopped containers, whether to start them or not
START_STOPPED="false"

# Labels for selecting containers
LABEL_MODE="dciu.mode"
# Labels to override stopped containers behavior
LABEL_UPDATE_STOPPED="dciu.update-stopped"
LABEL_START_STOPPED="dciu.start-stopped"

# Notify module name (script in notify/ directory)
NOTIFY_MODULE="discord,telegram"
# Notify events: comma- or space-separated list of events to notify on (e.g. "update_available,updated", "all" or "none")
# Available events: update_available, updated, update_failed, update_skipped
# all: notify on all events
# none: do not notify on any event
NOTIFY_EVENT="update_available,updated,update_failed"

# Optional registry authentication (uncomment if needed) [TODO: implement and test]
# REGISTRY_USER=""
# REGISTRY_PASSWORD=""

# Log file path
LOG_FILE="$PWD/dciu.log"

#DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/some-numbers/some-letters" # Update with actual webhook URL
#DISCORD_AVATAR_URL="https://example.com/avatar.png"  # Update with actual avatar URL
#DISCORD_USERNAME="dciu.sh"

#TELEGRAM_BOT_APITOKEN="123456789:ABCxyz" # Update with actual bot token
#TELEGRAM_BOT_CHATID="123456789" # Update with actual chat ID